    <div class="page-title">
        <h1>Typography
            <small>Headings &amp; Text</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li class="active">Typography</li>
        </ol>
    </div>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- end PAGE TITLE ROW -->

<div class="row">

<div class="col-lg-8">

    <div class="portlet portlet-default">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h4>Basic Elements</h4>
            </div>
            <div class="portlet-widgets">
                <a href="#"><i class="fa fa-gear"></i></a>
                <span class="divider"></span>
                <a href="javascript:;"><i class="fa fa-refresh"></i></a>
                <span class="divider"></span>
                <a data-toggle="collapse" data-parent="#accordion" href="#basicElements"><i class="fa fa-chevron-down"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="basicElements" class="panel-collapse collapse in">
            <div class="portlet-body">

                <div class="row">

                    <div class="col-lg-6">
                        <h3>Sample Text with Lead Copy</h3>
                        <p class="lead">Lead body copy. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus.</p>
                        <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
                        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                        <h3>Small</h3>
                        <p>
                            <small>This snippet of text is rendered as small text</small>.</p>
                    </div>
                    <div class="col-lg-6">
                        <h3>Sample Text</h3>
                        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus.</p>
                        <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
                        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                        <h3>Bold</h3>
                        <p><strong>This snippet of text is rendered as bold text</strong>.</p>
                        <h3>Italics</h3>
                        <p>
                            <em>This snippet of text is rendered as italicized text</em>.</p>
                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <h3>Colored Text</h3>
                        <p class="text-green">This is an example of green text.</p>
                        <p class="text-blue">This is an example of blue text.</p>
                        <p class="text-orange">This is an example of orange text.</p>
                        <p class="text-red">This is an example of red text.</p>
                        <p class="text-purple">This is an example of purple text.</p>
                    </div>
                    <div class="col-lg-6">
                        <h3>Emphasis Classes</h3>
                        <p class="text-muted">This is an example of muted text.</p>
                        <p class="text-primary">This is an example of primary text.</p>
                        <p class="text-success">This is an example of success text.</p>
                        <p class="text-info">This is an example of info text.</p>
                        <p class="text-warning">This is an example of warning text.</p>
                        <p class="text-danger">This is an example of danger text.</p>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h3>Labels</h3>
                        <ul class="list-inline">
                            <li>
                                <span class="label green">Green</span>
                            </li>
                            <li>
                                <span class="label blue">Blue</span>
                            </li>
                            <li>
                                <span class="label orange">Orange</span>
                            </li>
                            <li>
                                <span class="label red">Red</span>
                            </li>
                            <li>
                                <span class="label purple">Purple</span>
                            </li>
                            <li>
                                <span class="label label-default">Default</span>
                            </li>
                            <li>
                                <span class="label label-primary">Primary</span>
                            </li>
                            <li>
                                <span class="label label-success">Success</span>
                            </li>
                            <li>
                                <span class="label label-info">Info</span>
                            </li>
                            <li>
                                <span class="label label-warning">Warning</span>
                            </li>
                            <li>
                                <span class="label label-danger">Danger</span>
                            </li>
                        </ul>
                        <h3>Badges</h3>
                        <ul class="list-inline">
                            <li>
                                <span class="badge green">Green</span>
                            </li>
                            <li>
                                <span class="badge blue">Blue</span>
                            </li>
                            <li>
                                <span class="badge orange">Orange</span>
                            </li>
                            <li>
                                <span class="badge red">Red</span>
                            </li>
                            <li>
                                <span class="badge purple">Purple</span>
                            </li>
                            <li>
                                <span class="badge">Default</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h3>Blockquotes</h3>
                        <blockquote>
                            <p>Default. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        </blockquote>
                        <blockquote>
                            <p>With Citation. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>Someone famous in
                                <cite title="Source Title">Source Title</cite>
                            </small>
                        </blockquote>
                        <blockquote class="pull-right">
                            <p>Right Aligned. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>Someone famous in
                                <cite title="Source Title">Source Title</cite>
                            </small>
                        </blockquote>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h3>Alignment Classes</h3>
                        <p class="text-left">Left aligned text.</p>
                        <p class="text-center">Center aligned text.</p>
                        <p class="text-right">Right aligned text.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h3>Wells</h3>
                        <div class="well">Look, I'm in a well!</div>
                        <div class="well well-lg">Look, I'm in a large well!</div>
                        <div class="well well-sm">Look, I'm in a small well!</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h3>Breadcrumbs</h3>
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a>
                            </li>
                            <li><a href="#">Library</a>
                            </li>
                            <li class="active">Data</li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-lg-6">

                                <h3>Pagination</h3>
                                <ul class="pagination pagination-lg">
                                    <li><a href="#">&laquo;</a>
                                    </li>
                                    <li class="active"><a href="#">1</a>
                                    </li>
                                    <li><a href="#">2</a>
                                    </li>
                                    <li><a href="#">3</a>
                                    </li>
                                    <li><a href="#">4</a>
                                    </li>
                                    <li><a href="#">5</a>
                                    </li>
                                    <li><a href="#">&raquo;</a>
                                    </li>
                                </ul>
                                <br>
                                <ul class="pagination">
                                    <li><a href="#">&laquo;</a>
                                    </li>
                                    <li class="active"><a href="#">1</a>
                                    </li>
                                    <li><a href="#">2</a>
                                    </li>
                                    <li><a href="#">3</a>
                                    </li>
                                    <li><a href="#">4</a>
                                    </li>
                                    <li><a href="#">5</a>
                                    </li>
                                    <li><a href="#">&raquo;</a>
                                    </li>
                                </ul>
                                <br>
                                <ul class="pagination pagination-sm">
                                    <li><a href="#">&laquo;</a>
                                    </li>
                                    <li class="active"><a href="#">1</a>
                                    </li>
                                    <li><a href="#">2</a>
                                    </li>
                                    <li><a href="#">3</a>
                                    </li>
                                    <li><a href="#">4</a>
                                    </li>
                                    <li><a href="#">5</a>
                                    </li>
                                    <li><a href="#">&raquo;</a>
                                    </li>
                                </ul>

                            </div>

                            <div class="col-lg-6">

                                <h3>Pager</h3>
                                <ul class="pager">
                                    <li><a href="#">Previous</a>
                                    </li>
                                    <li><a href="#">Next</a>
                                    </li>
                                </ul>
                                <br>
                                <ul class="pager">
                                    <li class="previous"><a href="#">&larr; Older</a>
                                    </li>
                                    <li class="next"><a href="#">Newer &rarr;</a>
                                    </li>
                                </ul>
                                <br>
                                <ul class="pager">
                                    <li class="previous disabled"><a href="#">&larr; Older</a>
                                    </li>
                                    <li class="next"><a href="#">Newer &rarr;</a>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- /.col-lg-8 -->

<div class="col-lg-4">

    <div class="row">

        <div class="col-lg-12">
            <div class="portlet portlet-green">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Headings</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a href="#"><i class="fa fa-gear"></i></a>
                        <span class="divider"></span>
                        <a href="javascript:;"><i class="fa fa-refresh"></i></a>
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="#headingsPortlet"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="headingsPortlet" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <h1>h1. Heading 1
                            <small>Sub-heading</small>
                        </h1>
                        <h2>h2. Heading 2
                            <small>Sub-heading</small>
                        </h2>
                        <h3>h3. Heading 3
                            <small>Sub-heading</small>
                        </h3>
                        <h4>h4. Heading 4
                            <small>Sub-heading</small>
                        </h4>
                        <h5>h5. Heading 5
                            <small>Sub-heading</small>
                        </h5>
                        <h6>h6. Heading 6
                            <small>Sub-heading</small>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 (nested) -->

        <div class="col-lg-12">
            <div class="portlet portlet-orange">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Unordered List</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a href="#"><i class="fa fa-gear"></i></a>
                        <span class="divider"></span>
                        <a href="javascript:;"><i class="fa fa-refresh"></i></a>
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="#unorderedList"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="unorderedList" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <ul>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipiscing elit</li>
                            <li>Integer molestie lorem at massa</li>
                            <li>Facilisis in pretium nisl aliquet</li>
                            <li>Nulla volutpat aliquam velit
                                <ul>
                                    <li>Phasellus iaculis neque</li>
                                    <li>Purus sodales ultricies</li>
                                    <li>Vestibulum laoreet porttitor sem</li>
                                    <li>Ac tristique libero volutpat at</li>
                                </ul>
                            </li>
                            <li>Faucibus porta lacus fringilla vel</li>
                            <li>Aenean sit amet erat nunc</li>
                            <li>Eget porttitor lorem</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 (nested) -->

        <div class="col-lg-12">
            <div class="portlet portlet-blue">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Ordered List</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a href="#"><i class="fa fa-gear"></i></a>
                        <span class="divider"></span>
                        <a href="javascript:;"><i class="fa fa-refresh"></i></a>
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="#orderedList"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="orderedList" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <ol>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipiscing elit</li>
                            <li>Integer molestie lorem at massa</li>
                            <li>Facilisis in pretium nisl aliquet</li>
                            <li>Nulla volutpat aliquam velit</li>
                            <li>Faucibus porta lacus fringilla vel</li>
                            <li>Aenean sit amet erat nunc</li>
                            <li>Eget porttitor lorem</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 (nested) -->

        <div class="col-lg-12">
            <div class="portlet portlet-red">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Unstyled List</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a href="#"><i class="fa fa-gear"></i></a>
                        <span class="divider"></span>
                        <a href="javascript:;"><i class="fa fa-refresh"></i></a>
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="#unstyledList"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="unstyledList" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <ul class="list-unstyled">
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipiscing elit</li>
                            <li>Integer molestie lorem at massa</li>
                            <li>Facilisis in pretium nisl aliquet</li>
                            <li>Nulla volutpat aliquam velit
                                <ul>
                                    <li>Phasellus iaculis neque</li>
                                    <li>Purus sodales ultricies</li>
                                    <li>Vestibulum laoreet porttitor sem</li>
                                    <li>Ac tristique libero volutpat at</li>
                                </ul>
                            </li>
                            <li>Faucibus porta lacus fringilla vel</li>
                            <li>Aenean sit amet erat nunc</li>
                            <li>Eget porttitor lorem</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 (nested) -->

        <div class="col-lg-12">
            <div class="portlet portlet-purple">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Description List</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a href="#"><i class="fa fa-gear"></i></a>
                        <span class="divider"></span>
                        <a href="javascript:;"><i class="fa fa-refresh"></i></a>
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="#descriptionList"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="descriptionList" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <dl>
                            <dt>Description lists</dt>
                            <dd>A description list is perfect for defining terms.</dd>
                            <dt>Euismod</dt>
                            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                            <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                            <dt>Malesuada porta</dt>
                            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 (nested) -->

    </div>
    <!-- /.row (nested) -->

</div>
<!-- /.col-lg-4 -->