<!-- begin PAGE TITLE ROW -->
<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>Portlets &amp; Widgets
                <small>Content Areas</small>
            </h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                </li>
                <li class="active">Portlets &amp; Widgets</li>
            </ol>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- end PAGE TITLE ROW -->

<div class="row">

    <div class="col-lg-12 text-center">
        <h3 class="margin: 0">Flex Portlets</h3>
        <p>With a header, body, and footer component, Flex Portlets are flexible and easy to use! They can be used with or without the collapse feature.</p>
        <br>
    </div>

</div>
<!-- /.row -->

<div class="row">

    <div class="col-lg-4">
        <div class="portlet portlet-default">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Portlet with Label</h4>
                </div>
                <div class="portlet-widgets">
                    <span class="label green">Label</span>
                    <span class="divider"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#defaultPortlet"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="defaultPortlet" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <p>Portlet class:
                        <code>.portlet-default</code>. Alternate:
                        <code>.portlet-dark-blue</code>.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
                </div>
            </div>
            <div class="portlet-footer">
                Portlet Footer
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="portlet portlet-green">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Portlet with Badge</h4>
                </div>
                <div class="portlet-widgets">
                    <span class="badge orange">Badge</span>
                    <span class="divider"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#greenPortlet"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="greenPortlet" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <p>Portlet class:
                        <code>.portlet-green</code>.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
                </div>
            </div>
            <div class="portlet-footer">
                Portlet Footer - Doesn't Collapse with Toggle
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="portlet portlet-orange">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Portlet with Button</h4>
                </div>
                <div class="portlet-widgets">
                    <a class="btn btn-xs btn-purple">Button</a>
                    <span class="divider"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#orangePortlet"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="orangePortlet" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <p>Portlet class:
                        <code>.portlet-orange</code>.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
                </div>
                <div class="portlet-footer">
                    Portlet Footer - Collapses with Toggle
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->

</div>
<!-- /.row -->

<div class="row">

    <div class="col-lg-4">
        <div class="portlet portlet-blue">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Portlet with Toggle Buttons</h4>
                </div>
                <div class="portlet-widgets">
                    <div class="btn-group btn-group-xs" data-toggle="buttons">
                        <label class="btn btn-white">
                            <input type="radio">Database
                        </label>
                        <label class="btn btn-white active">
                            <input type="radio">Web
                        </label>
                    </div>
                    <span class="divider"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#bluePortlet"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="bluePortlet" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <p>Portlet class:
                        <code>.portlet-blue</code>.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="portlet portlet-red">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Portlet with Icons</h4>
                </div>
                <div class="portlet-widgets">
                    <a href="#"><i class="fa fa-gear"></i></a>
                    <span class="divider"></span>
                    <a href="javascript:;"><i class="fa fa-refresh"></i></a>
                    <span class="divider"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#redPortlet"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="redPortlet" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <p>Portlet class:
                        <code>.portlet-red</code>.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="portlet portlet-purple">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Portlet with Tabs</h4>
                </div>
                <div class="portlet-widgets">
                    <ul id="myTab" class="list-inline tabbed-portlets">
                        <li class="active"><a class="btn btn-xs btn-default" href="#tab1" data-toggle="tab">Tab #1</a>
                        </li>
                        <li><a class="btn btn-xs btn-default" href="#tab2" data-toggle="tab">Tab #2</a>
                        </li>
                    </ul>
                    <span class="divider"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#purplePortlet"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="purplePortlet" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                            <p>Portlet class:
                                <code>.portlet-purple</code>. <strong>Tab #1</strong>
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
                        </div>
                        <div class="tab-pane fade" id="tab2">
                            <p>Portlet class:
                                <code>.portlet-purple</code>. <strong>Tab #2</strong>
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->

</div>
<!-- /.row -->

<div class="row">

    <div class="col-lg-4">
        <div class="portlet">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Unstyled Portlet</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <p>Portlet class: None</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="portlet portlet-basic">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Basic Portlet</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <p>Portlet class:
                    <code>.portlet-basic</code>.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->

</div>
<!-- /.row -->

<div class="row">

    <div class="col-lg-12 text-center">
        <h3 class="margin: 0">Flex Tiles</h3>
        <p>Flex tiles make use of the background color helper classes located within the
            <code>style.css</code>stylesheet. They are flexible, bold content areas.</p>
        <br>
    </div>

</div>
<!-- /.row -->

<div class="row">

    <div class="col-lg-4">
        <div class="tile dark-blue">
            <h4>Dark Blue/Default Tile</h4>
            <br>
            <p>Tile Classes:
                <code>.tile</code>
                <code>.dark-blue</code>
                Alternate:
                <code>.tile</code>
                <code>.default</code>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
        </div>
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="tile green">
            <h4>Green Tile</h4>
            <br>
            <p>Tile Classes:
                <code>.tile</code>
                <code>.green</code>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
        </div>
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="tile orange">
            <h4>Orange Tile</h4>
            <br>
            <p>Tile Classes:
                <code>.tile</code>
                <code>.orange</code>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
        </div>
    </div>
    <!-- /.col-lg-4 -->

</div>
<!-- /.row -->

<div class="row">

    <div class="col-lg-4">
        <div class="tile blue">
            <h4>Blue Tile</h4>
            <br>
            <p>Tile Classes:
                <code>.tile</code>
                <code>.blue</code>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
        </div>
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="tile red">
            <h4>Red Tile</h4>
            <br>
            <p>Tile Classes:
                <code>.tile</code>
                <code>.red</code>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
        </div>
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="tile purple">
            <h4>Purple Tile</h4>
            <br>
            <p>Tile Classes:
                <code>.tile</code>
                <code>.purple</code>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
        </div>
    </div>
    <!-- /.col-lg-4 -->

</div>
<!-- /.row -->

<div class="row">

    <div class="col-lg-4">
        <div class="tile gray">
            <h4>Gray Tile</h4>
            <br>
            <p>Tile Classes:
                <code>.tile</code>
                <code>.gray</code>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
        </div>
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="tile light-gray">
            <h4>Light Gray Tile</h4>
            <br>
            <p>Tile Classes:
                <code>.tile</code>
                <code>.light-gray</code>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
        </div>
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="tile dark-gray">
            <h4>Dark Gray Tile</h4>
            <br>
            <p>Tile Classes:
                <code>.tile</code>
                <code>.dark-gray</code>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
        </div>
    </div>
    <!-- /.col-lg-4 -->

</div>
<!-- /.row -->

<!-- begin CIRCLE TILES -->

<div class="row">

    <div class="col-lg-12 text-center">
        <h3 class="margin: 0">Circle Tiles</h3>
        <p>Circle tiles can be used with any of the background color helper classes as well, below are some examples.</p>
        <br>
    </div>

</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a href="#">
                <div class="circle-tile-heading dark-blue">
                    <i class="fa fa-users fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content dark-blue">
                <div class="circle-tile-description text-faded">
                    Users
                </div>
                <div class="circle-tile-number text-faded">
                    265
                </div>
                <a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a href="#">
                <div class="circle-tile-heading green">
                    <i class="fa fa-money fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content green">
                <div class="circle-tile-description text-faded">
                    Revenue
                </div>
                <div class="circle-tile-number text-faded">
                    $32,384
                </div>
                <a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a href="#">
                <div class="circle-tile-heading orange">
                    <i class="fa fa-bell fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content orange">
                <div class="circle-tile-description text-faded">
                    Alerts
                </div>
                <div class="circle-tile-number text-faded">
                    9 New
                </div>
                <a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a href="#">
                <div class="circle-tile-heading blue">
                    <i class="fa fa-tasks fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content blue">
                <div class="circle-tile-description text-faded">
                    Tasks
                </div>
                <div class="circle-tile-number text-faded">
                    10
                </div>
                <a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a href="#">
                <div class="circle-tile-heading red">
                    <i class="fa fa-shopping-cart fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content red">
                <div class="circle-tile-description text-faded">
                    Orders
                </div>
                <div class="circle-tile-number text-faded">
                    24
                </div>
                <a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a href="#">
                <div class="circle-tile-heading purple">
                    <i class="fa fa-comments fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content purple">
                <div class="circle-tile-description text-faded">
                    Mentions
                </div>
                <div class="circle-tile-number text-faded">
                    96
                </div>
                <a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- end CIRCLE TILES -->
