<div class="col-lg-12">
    <div class="page-title">
        <h1>
            Pricing Tables
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li class="active">Pricing Tables</li>
        </ol>
    </div>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- end PAGE TITLE ROW -->

<div class="row">
<div class="col-lg-12">
    <h4>Basic Pricing Table</h4>

    <div class="row pricing-basic">
        <div class="col-md-3">
            <ul class="plan plan1">
                <li class="plan-name">
                    Basic
                </li>
                <li class="plan-price">
                    <strong>$29</strong> / month
                </li>
                <li>
                    <strong>5GB</strong> Storage
                </li>
                <li>
                    <strong>1GB</strong> RAM
                </li>
                <li>
                    <strong>400GB</strong> Bandwidth
                </li>
                <li>
                    <strong>10</strong> Email Address
                </li>
                <li>
                    <strong>Forum</strong> Support
                </li>
                <li class="plan-action">
                    <a href="#" class="btn btn-default btn-lg">Signup</a>
                </li>
            </ul>
        </div>
        <!--/.col-md-3-->
        <div class="col-md-3">
            <ul class="plan plan2">
                <li class="plan-name">
                    Standard
                </li>
                <li class="plan-price">
                    <strong>$39</strong> / month
                </li>
                <li>
                    <strong>5GB</strong> Storage
                </li>
                <li>
                    <strong>1GB</strong> RAM
                </li>
                <li>
                    <strong>400GB</strong> Bandwidth
                </li>
                <li>
                    <strong>10</strong> Email Address
                </li>
                <li>
                    <strong>Forum</strong> Support
                </li>
                <li class="plan-action">
                    <a href="#" class="btn btn-default btn-lg">Signup</a>
                </li>
            </ul>
        </div>
        <!--/.col-md-3-->
        <div class="col-md-3">
            <ul class="plan plan3">
                <li class="plan-name">
                    Advanced
                </li>
                <li class="plan-price">
                    <strong>$199</strong> / month
                </li>
                <li>
                    <strong>50GB</strong> Storage
                </li>
                <li>
                    <strong>8GB</strong> RAM
                </li>
                <li>
                    <strong>1024GB</strong> Bandwidth
                </li>
                <li>
                    <strong>Unlimited</strong> Email Address
                </li>
                <li>
                    <strong>Forum</strong> Support
                </li>
                <li class="plan-action">
                    <a href="#" class="btn btn-default btn-lg">Signup</a>
                </li>
            </ul>
        </div>
        <!--/.col-md-3-->
        <div class="col-md-3">
            <ul class="plan plan4">
                <li class="plan-name">
                    Mighty
                </li>
                <li class="plan-price">
                    <strong>$999</strong> / month
                </li>
                <li>
                    <strong>50GB</strong> Storage
                </li>
                <li>
                    <strong>8GB</strong> RAM
                </li>
                <li>
                    <strong>1024GB</strong> Bandwidth
                </li>
                <li>
                    <strong>Unlimited</strong> Email Address
                </li>
                <li>
                    <strong>Forum</strong> Support
                </li>
                <li class="plan-action">
                    <a href="#" class="btn btn-default btn-lg">Signup</a>
                </li>
            </ul>
        </div>
        <!--/.col-md-3-->
    </div>
    <!--/.pricing-basic-->

</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div class="row">
<div class="col-lg-12">
    <h4>Circle Pricing Table</h4>

    <div class="row pricing-circle">
        <div class="col-md-3">
            <ul class="plan plan1">
                <li class="plan-name">
                    <h3>Basic</h3>
                </li>
                <li class="plan-price">
                    <div>
                        <span class="price"><sup>$</sup>29</span>
                        <small>month</small>
                    </div>
                </li>
                <li>
                    <strong>5GB</strong> Storage
                </li>
                <li>
                    <strong>1GB</strong> RAM
                </li>
                <li>
                    <strong>400GB</strong> Bandwidth
                </li>
                <li>
                    <strong>10</strong> Email Address
                </li>
                <li>
                    <strong>Forum</strong> Support
                </li>
                <li class="plan-action">
                    <a href="#" class="btn btn-default btn-md">Signup</a>
                </li>
            </ul>
        </div>
        <!--/.col-md-3-->
        <div class="col-md-3">
            <ul class="plan plan2 featured">
                <li class="plan-name">
                    <h3>Standard</h3>
                </li>
                <li class="plan-price">
                    <div>
                        <span class="price"><sup>$</sup>39</span>
                        <small>month</small>
                    </div>
                </li>
                <li>
                    <strong>5GB</strong> Storage
                </li>
                <li>
                    <strong>1GB</strong> RAM
                </li>
                <li>
                    <strong>400GB</strong> Bandwidth
                </li>
                <li>
                    <strong>10</strong> Email Address
                </li>
                <li>
                    <strong>Forum</strong> Support
                </li>
                <li class="plan-action">
                    <a href="#" class="btn btn-green btn-md">Signup</a>
                </li>
            </ul>
        </div>
        <!--/.col-md-3-->
        <div class="col-md-3">
            <ul class="plan plan3">
                <li class="plan-name">
                    <h3>Advanced</h3>
                </li>
                <li class="plan-price">
                    <div>
                        <span class="price"><sup>$</sup>49</span>
                        <small>month</small>
                    </div>
                </li>
                <li>
                    <strong>50GB</strong> Storage
                </li>
                <li>
                    <strong>8GB</strong> RAM
                </li>
                <li>
                    <strong>1024GB</strong> Bandwidth
                </li>
                <li>
                    <strong>Unlimited</strong> Email Address
                </li>
                <li>
                    <strong>Forum</strong> Support
                </li>
                <li class="plan-action">
                    <a href="#" class="btn btn-default btn-md">Signup</a>
                </li>
            </ul>
        </div>
        <!--/.col-md-3-->
        <div class="col-md-3">
            <ul class="plan plan4">
                <li class="plan-name">
                    <h3>Mighty</h3>
                </li>
                <li class="plan-price">
                    <div>
                        <span class="price"><sup>$</sup>99</span>
                        <small>month</small>
                    </div>
                </li>
                <li>
                    <strong>50GB</strong> Storage
                </li>
                <li>
                    <strong>8GB</strong> RAM
                </li>
                <li>
                    <strong>1024GB</strong> Bandwidth
                </li>
                <li>
                    <strong>Unlimited</strong> Email Address
                </li>
                <li>
                    <strong>Forum</strong> Support
                </li>
                <li class="plan-action">
                    <a href="#" class="btn btn-default btn-md">Signup</a>
                </li>
            </ul>
        </div>
        <!--/.col-md-3-->
    </div>
    <!--/.pricing-circle-->

</div>
<!-- /.col-lg-12 -->
