<div class="col-lg-12">
    <div class="page-title">
        <h1>
            Sliders
            <small>Customized from jQuery UI</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li class="active">Blank Page</li>
        </ol>
    </div>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- end PAGE TITLE ROW -->

<div class="row">
<div class="col-lg-12">

    <div class="portlet portlet-default">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h4>Basic Sliders</h4>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-6">
                    <h3>Default Sliders</h3>
                    <div class="slider-default" id="slider-default-demo"></div>
                    <br>
                    <div class="slider-green" id="slider-green-demo"></div>
                    <br>
                    <div class="slider-blue" id="slider-blue-demo"></div>
                    <br>
                    <div class="slider-orange" id="slider-orange-demo"></div>
                    <br>
                    <div class="slider-red" id="slider-red-demo"></div>
                    <br>
                    <div class="slider-purple" id="slider-purple-demo"></div>
                    <br>
                    <div id="slider-gray-demo"></div>
                </div>
                <div class="col-md-6">
                    <h3>Vertical Sliders</h3>
                    <ul class="list-inline vertical-slider-demo text-center">
                        <li>
                            <div class="slider-default" id="vertical-slider-default-demo" style="height: 200px;"></div>
                        </li>
                        <li>
                            <div class="slider-green" id="vertical-slider-green-demo" style="height: 200px;"></div>
                        </li>
                        <li>
                            <div class="slider-blue" id="vertical-slider-blue-demo" style="height: 200px;"></div>
                        </li>
                        <li>
                            <div class="slider-orange" id="vertical-slider-orange-demo" style="height: 200px;"></div>
                        </li>
                        <li>
                            <div class="slider-red" id="vertical-slider-red-demo" style="height: 200px;"></div>
                        </li>
                        <li>
                            <div class="slider-purple" id="vertical-slider-purple-demo" style="height: 200px;"></div>
                        </li>
                        <li>
                            <div id="vertical-slider-gray-demo" style="height: 200px;"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
<div class="col-lg-12">

    <div class="portlet portlet-default">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h4>Slider Options</h4>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="portlet-body">
            <h3>Range</h3>
            <p>
                <label for="amount">Price range:</label>
                <input type="text" class="slider-input" id="amount" disabled>
            </p>
            <div class="slider-green" id="slider-range"></div>
        </div>
    </div>

</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
<div class="col-lg-12">

    <div class="portlet portlet-default">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h4>Basic Sliders</h4>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="portlet-body">
            <h3>Increments Sliders</h3>

            <p>
                <label for="increment-amount">Donation amount ($50 increments):</label>
                <input type="text" class="slider-input" id="increment-amount" disabled>
            </p>

            <div class="slider-orange" id="slider-increments"></div>
        </div>
    </div>

</div>
<!-- /.col-lg-12 -->
